*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --color-white-text: white;
    --color-bg-red: hsl(0, 100%, 74%);
    --color-green-button: hsl(154, 59%, 51%);
    --color-blue-box: hsl(248, 32%, 49%);
    --color-dark-blue: hsl(249, 10%, 26%);
    --color-grayish-blue: hsl(246, 25%, 77%);
}